<h2>Airline Bewertungen</h2>
<p>Dank den positiven und negativen Erfahrung anderer Passagiere können Sie sich bereits vor der Buchung über Themen wie Freundlichkeit, Sicherheit oder Komfort der Fluggesellschaft informieren. Lesen Sie die Bewertung von anderen Fluggästen zu folgenden Airlines: </p>
<?php $last = null; ?>
<?php foreach ($data as $row) { ?>
<?php if (strcasecmp($row['name']{0}, $last) != 0) { $last = $row['name']{0} ?>
	<h3><?php echo $last; ?></h3>
<?php } ?>
	<a href="<?php echo AirlineTools::buildUri($row); ?>"><?php echo $row['name']; ?></a><br />
<?php } ?>