<?php if ($pageCount > 1) { ?>
<span class="pagination">
	<?php foreach ($pages as $page => $row) { ?>
	<?php if ($row['type'] == Pagination::PAGES_CURRENT) { ?>
		<span class="page_current"><?php echo $page; ?></span>
	<?php } elseif ($row['type'] == Pagination::PAGES_SEPARATOR) { ?>
		<span class="page_more">...</span>
	<?php } elseif ($row['type'] == Pagination::PAGES_NUM) { ?>
		<a class="page_number" href="<?php echo $row['url']; ?>"><?php echo $page; ?></a>
	<?php } } ?>
</span>
<?php } ?>