<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Select Color</title>
	<link rel="stylesheet" type="text/css" href="../../../admin/html/standard.css" />
	<script type="text/javascript" src="../../global.js"></script>
	<script type="text/javascript" src="../wysiwyg-popup.js"></script>
</head>
<body onLoad="loadColor();">
<form onSubmit="selectColor(document.getElementById('enterColor').value);">
<table class="border" border="0" cellspacing="0" cellpadding="4" style="width: 232px;">
 <tr>
  <td class="obox">Select Color</td>
 </tr>
 <tr class="mbox" align="center">
  <td>
    Hex-Code: <input type="text" size="10" name="enterColor" id="enterColor" /><br /><br class="minibr" />
    <input type="submit" value="Insert Color" /> <input type="button" onclick="self.close();" value="Cancel" />
  </td>
 </tr>
 <tr>
  <td class="obox">Preview</td>
 </tr>
 <tr class="mbox">
  <td align="center" id="PreviewColor">Preview of the color</td>
 </tr>
 <tr>
  <td class="obox">Predefined colors</td>
 </tr>
 <tr class="mbox">
  <td align="center">
   <div class="colorpicker-td">
	<script type="text/javascript">document.write(generateColorPicker("previewColor('<color>')", '../../../images/empty.gif'));</script>
   </div>
  </td>
 </tr>
</table>
</form>
</body>
</html>

