* {
	font-family: MS Sans Serif, Helvetica, Trebuchet MS, Verdana sans-serif;
}
body {
	background-color: #EEEEEE;
	margin: 5px;
	font-size: 9pt;
}
a {
	text-decoration: none;
	color: #204A87;
}
a:hover {
	color : #A40000;
}
h3 {
	padding: 2px;
	margin: 0px;
	background-color: #204A87;
	background-image: url(images/obox.gif);
	color: #ffffff;
	font-size: 9pt;
    border-bottom: 1px solid #3465A4;
    letter-spacing: 1px;
}
.border {
	border: 1px solid #3465A4;
	background-color: #ffffff;
	margin-top: 5px;
}
img {
    border: 0px;
	vertical-align: middle;
}
ul, .boxbody {
	margin: 2px;
	list-style-type: none;
	text-align: left;
	padding: 0px;
}
ul li, .boxobdy {
	font-size: 9pt;
}
.stext {
	font-size: 8pt;
}
.center {
	text-align: center;
}
.minibr {
	line-height: 5px;
}