body {
	background-color: #cccccc; 
	margin: 5px;
	font-size: 0.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
form {
	margin: 0px;
}
hr {
    height: 1px;
    border: 0; 
    border-bottom: 1px #839FBC solid;
}
li {
    font-size: 12px;
}
ul {
	margin-bottom: 2px;
	margin-top: 2px;
}
input, select {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F5F8FA; 
	border: 1px solid #336699;
}
textarea {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F5F8FA; 
	border: 1px solid #336699;
}
.texteditor {
	font-family: Courier New, monospace;
	white-space: pre;
	max-width: 100%;
}
A {
	text-decoration: none;
	color: #336699;
}
A:hover {
	color : #000000;
}
.center {
    text-align: center;
}
.border {
	background-color: #839FBC;
	max-width: 100%;
	width: 98%;
	min-width: 50%;
	border-collapse: collapse;
}
.border td, .border th {
	border: 1px solid #839FBC;
	padding: 4px;
}
.minibr {
	line-height: 5px;
}
.box {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	margin: 2px;
	padding: 2px;
}
.obox {
	background-color: #BCCADA;
	font-size: 13px;
	color: #336699;
	font-weight: bold;
}
.ubox {
	background-color: #E1E8EF;
	font-size: 11px;
	color: #24486C;
}
.mbox {
	background-color: #ffffff;
	font-size: 12px; 
}
.mmbox {
	background-color: #F5F8FA;
	font-size: 12px;
}
.stext {
	font-size: 10px;
	color: #555;
}
#copyright {
	padding-top: 1em;
	clear: both;
	font-size: 8pt;
	text-align: center;
}
.right {
    float: right;
}
.valign {
	vertical-align: middle;
}

/* BB-Code Ausgabe */
.bb_table {
	border: 1px dotted #BCCADA;
	overflow: auto;
	display: block;
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 5px;   
}
.bb_inlinecode {
	color: #880000;
}
.bb_blockcode_header {
	display: block;
}
.bb_blockcode {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	padding: 2px;
	margin: 0px;
	margin-left: 10px;
	overflow: auto;
	max-height: 400px;
	min-height: 50px;
	width: 550px;
}
.bb_blockcode td {
	font-family: Courier New, monospace;
	font-size: 11px;
	line-Height: 13px;
	white-space: nowrap;
	vertical-align: top;
}
.bb_header {
	margin: 0px;
	margin-top: 10px;
}
.bb_size_extended {
	letter-spacing: 3px;
}
.bb_quote {
	margin: 0px;
	width: 98%;
	padding-left: 5px;
	display: block;
}
.bb_quote cite {
	border-bottom: 1px solid #839FBC;
	border-top: 1px solid #839FBC;
	padding-left: 10px;
	font-size: 9pt;
	display: block;
	margin: 1px;
}
.bb_ot span {
	border-top: 1px dashed #BCCADA;
	border-bottom: 1px dashed #BCCADA;
	padding-left: 10px;
	color: #7E9AB8;
	font-size: 9pt;
	display: block;
}
.bb_edit ins {
	margin-left: 10px;
	display: block;
	text-decoration: none;
}
.bb_hide {
	color: #aaaaaa;
	font-size: 9pt;
}
.bb_hide span {
	margin-left: 10px;
	display: block;
}