/* General page layout */
#admin_menu {
	float:left;
	text-align: center;
	width: 20%;
	padding-right: 2%;
}

#admin_content {
	width: 78%;
	float: right;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.border {
	width: 100%;
}
.border td, .border th {
	padding: 4px;
	border: 1px solid #D9D7D0;
}
.border th {
	background-color: #3b310e;
	color: #ffffff;
	text-align: center;
}

/* Menu boxes */
.dropdown {
	margin: 0 auto 0.5em auto;
	text-align: left;
	display: block;
}
.dropdown * {
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: #000000;
	border-width: 0px;
	text-decoration: none;
	display: block;
}
.dropdown dt {
	border-width: 1px;
	padding: 3px;
	text-align: center;
	cursor:pointer;
	background-color: #3b310e;
	color: #ffffff;
}
.dropdown dt:hover {
	text-decoration: underline;
}
.dropdown dd {
	overflow:hidden;
}
.dropdown ul {
	border-width: 0 1px;
	list-style-type: none;
}
.dropdown a {
	background-color: #ffffff;
	padding: 3px;
	border-bottom-width: 1px;
	color: #000000;
}
.dropdown .subheader {
	padding: 3px;
	font-weight: bold;
}
.dropdown ul li ul {
	border-width: 0 0 1px 0;
	background-color: #D9D7D0;
}
.dropdown ul li ul li {
	padding-left: 10px;
}
.dropdown ul li ul li a {
	border-width: 1px 0 0 1px;
}