<p>
	<?php echo $pages; ?>
	<a href="<?php echo URI::build($baseUri.'/write'); ?>" style="float: right;" class="btn add">Erstellen</a>
	<br clear="all"/>
</p>
<table class="border">
	<tr>
		<?php foreach ($list->getFields() as $field) { ?>
		<th><?php echoSave($field->getName()); ?></th>
		<?php } ?>
		<th width="30%">Aktion</th>
	</tr>
	<?php foreach ($list->getData() as $data) { ?>
	<tr>
		<?php foreach ($data->getFields() as $field) { ?>
		<td><?php echo $field->getOutputCode(); ?></td>
		<?php } ?>
		<td>
			<a href="<?php echo URI::build($baseUri.'/write/' . $data->getId()); ?>" class="btn edit">Bearbeiten</a>
			<a href="<?php echo URI::build($baseUri.'/remove/' . $data->getId()); ?>" class="btn delete">Löschen</a>
		</td>
	</tr>
	<?php } ?>
</table>
<p>
	<?php echo $pages; ?>
	<a href="<?php echo URI::build($baseUri.'/write'); ?>" style="float: right;" class="btn add">Erstellen</a>
	<br clear="all"/>
</p>