<form action="<?php echo URI::build($baseUri.'/edit/'.$field->getId().'/send'); ?>" method="post">
<fieldset>
	<legend>Grunddaten</legend>
	<label for="name">Titel:</label>
	<input class="label" type="text" name="name" id="name" value="<?php echo $data['name']; ?>" />
	<br class="newinput" /><hr class="formsep" />
	<label for="internal">Interner Feldname:</label>
	<div class="label"><?php echo $field->getFieldName(); ?></div>
	<br class="newinput" /><hr class="formsep" />
	<label for="description">Beschreibung</label>
	<textarea class="label" name="description" id="description" rows="4" cols="40"><?php echo $data['description']; ?></textarea>
	<br class="newinput" /><hr class="formsep" />
	<label for="priority">Anzeigenreihenfolge:</label>
	<select class="label" name="priority" id="priority">
		<?php for($i = -100; $i <= 100; $i++) { ?>
		<option value="<?php echo $i; ?>"<?php echo iif($i == $data['priority'], ' selected="selected"'); ?>><?php echo $i; ?></option>
		<?php } ?>
	</select>
	<br class="newinput" /><hr class="formsep" />
	<label for="position">Anzeigeort:</label>
	<select class="label" name="position" id="position">
		<?php foreach ($positions as $class => $pos) { ?>
		<option value="<?php echo $class; ?>"<?php echo iif($class == $data['position'], ' selected="selected"'); ?>><?php echo $pos->getName(); ?></option>
		<?php } ?>
	</select>
	<br class="newinput" /><hr class="formsep" />
	<label>Rechte (Daten):</label>
	<div class="label">
		<table class="border">
			<tr>
				<th></th>
				<?php foreach (CustomField::getRights() as $right) { ?>
				<th><?php echo Authentication::getRightName($right); ?></th>
				<?php } ?>
			</tr>
			<tr>
				<td>Sehen</td>
				<?php foreach (CustomField::getRights() as $right) { ?>
				<td class="tcenter"><input type="checkbox" name="read[<?php echo $right; ?>]" value="1"<?php echo iif(!empty($data['read'][$right]), ' checked="checked"'); ?> /></td>
				<?php } ?>
			</tr>
			<tr>
				<td>&Auml;ndern</td>
				<?php foreach (CustomField::getRights() as $right) { ?>
				<td class="tcenter"><input type="checkbox" name="write[<?php echo $right; ?>]" value="1"<?php echo iif(!empty($data['write'][$right]), ' checked="checked"'); ?> /></td>
				<?php } ?>
			</tr>
		</table>
	</div>
	<br class="newinput" /><hr class="formsep" />
	<label for="type">Feldtyp:</label>
	<div class="label"><?php echo $field->getTypeName(); ?></div>
	<br class="newinput" />
</fieldset>
<fieldset>
	<legend>Spezielle Eigenschaften</legend>
	<?php echo $field->getParamsCode(false); ?>
</fieldset>
<input type="submit" id="submit" />
</form>