<table class="border">
	<tr>
		<th width="40%">Titel</th>
		<th width="40%">Aktion</th>
	</tr>
	<?php foreach ($data as $row) { ?>
	<tr>
		<td><?php echo $row->getName(); ?></td>
		<td>
			<a href="<?php echo URI::build($baseUri.'/edit/' . $row->getId()); ?>" class="btn edit">Bearbeiten</a>
			<a href="<?php echo URI::build($baseUri.'/remove/' . $row->getId()); ?>" class="btn delete">Löschen</a>
		</td>
	</tr>
	<?php } ?>
</table>
<p class="tright">
	<a href="<?php echo URI::build($baseUri.'/add'); ?>" class="btn add">Neues Feld hinzufügen</a>
</p>