<div id="admin_menu">
<?php foreach ($menu['Pages'] as $key => $submenu) { ?>
<dl class="dropdown">
  <dt id="<?php echo $key ?>-ddheader" onclick="ddMenu('<?php echo $key ?>')"><?php echo $submenu->getHeader($key); ?></dt>
  <dd id="<?php echo $key ?>-ddcontent"<?php echo iif($key != Request::getObject()->getRequestedClass(), ' style="display: none;"'); ?>>
    <ul>
<?php foreach ($submenu->getMenu($key) as $url => $name) { ?>
      <li><a href="<?php echo $url; ?>"><?php echo $name; ?></a></li>
<?php } ?>
    </ul>
  </dd>
</dl>
<?php } ?>
</div>
<div id="admin_content">