<table class="border">
	<tr>
		<th width="30%">Name</th>
		<th width="20%">Gruppe</th>
		<th width="10%">Aktiv</th>
		<th width="40%">Aktion</th>
	</tr>
	<?php foreach($data as $row) { ?>
	<tr>
		<td><?php echo $row['surname']; ?>, <?php echo $row['forename']; ?></td>
		<td><?php echo $row['group']; ?></td>
		<td class="tcenter"><?php echo iif($row['active'], 'Ja', 'Nein'); ?></td>
		<td>
			<a href="<?php echo URI::build('cms/admin/members/edit/' . $row['id']); ?>" class="btn edit">Bearbeiten</a>
			<?php if (Me::get()->getId() != $row['id']) { ?>
			<a href="<?php echo URI::build('cms/admin/members/delete/' . $row['id']); ?>" class="btn delete">Löschen</a>
			<?php } ?>
			<a href="<?php echo URI::build('cms/user/about/' . $row['id']); ?>" class="btn view">Profil ansehen</a>
		</td>
	</tr>
	<?php } ?>
</table>