<form action="<?php echo URI::build('cms/admin/members/edit/' . $user['id'] . '/send'); ?>" method="post">
	<fieldset>
		<legend>Anmeldedaten</legend>
		<label for="email">E-Mail-Adresse:</label>
		<input type="text" class="label" id="email" name="email" value="<?php echo $user['email']; ?>" />
		<br class="newinput" /><hr class="formsep" />
		<label for="group_id">Gruppe:</label>
		<?php if (Me::get()->getId() == $user['id']) { ?>
		<div class="label"><?php echo $groups[$user['group_id']]; ?></div>
		<?php } else { ?>
		<select id="group_id" name="group_id" class="label">
			<?php foreach ($groups as $gid => $title) { ?>
			<option value="<?php echo $gid; ?>"<?php echo iif($gid == $user['group_id'], ' selected="selected"'); ?>><?php echo $title; ?></option>
			<?php } ?>
		</select>
		<?php } ?>
		<br class="newinput" /><hr class="formsep" />
		<label for="active">Aktiv:</label>
		<input type="checkbox" id="active" name="active" value="1"<?php echo iif($user['active'] == 1, ' checked="checked"').iif(Me::get()->getId() == $user['id'], ' disabled="disabled"'); ?> />
		<br class="newinput" />
	</fieldset>
	<fieldset>
		<legend>Pers&ouml;nliche Daten</legend>
		<label for="forename">Vorname:</label>
		<input type="text" class="label" id="forename" name="forename" value="<?php echo $user['forename']; ?>" />
		<br class="newinput" /><hr class="formsep" />
		<label for="surname">Nachname:</label>
		<input type="text" class="label" id="surname" name="surname" value="<?php echo $user['surname']; ?>" />
		<br class="newinput" /><hr class="formsep" />
		<label for="city">Stadt:</label>
		<input type="text" class="label" id="city" name="city" value="<?php echo $user['city']; ?>" />
		<br class="newinput" /><hr class="formsep" />
		<label for="country">Land:</label>
		<select id="country" name="country" class="label">
			<?php foreach ($countries as $c) { ?>
			<option value="<?php echo $c; ?>"<?php echo iif($c == $user['country'], ' selected="selected"'); ?>><?php echo $c; ?></option>
			<?php } ?>
		</select>
		<br class="newinput" /><hr class="formsep" />
		<label for="gender">Geschlecht:</label>
		<select name="gender" id="gender" class="label">
			<option value="m"<?php echo iif($user['gender'] == 'm', ' selected="selected"'); ?>>M&auml;nnlich</option>
			<option value="w"<?php echo iif($user['gender'] == 'w', ' selected="selected"'); ?>>Weiblich</option>
		</select>
		<br class="newinput" /><hr class="formsep" />
		<label>Geburtstag (TT. MM. JJJJ):</label>
		<div class="label">
		  <select name="birthday">
		  <option value="0">Tag</option>
			<?php foreach ($r_birthday as $i) { ?>
				<option value="<?php echo $i; ?>"<?php echo iif($user['birthday'] == $i, ' selected="selected"'); ?>><?php echo $i; ?></option>
			<?php } ?>
		  </select>.
		  <select name="birthmonth">
		  <option value="0">Monat</option>
			<?php foreach ($r_birthmonth as $i) { ?>
				<option value="<?php echo $i; ?>"<?php echo iif($user['birthmonth'] == $i, ' selected="selected"'); ?>><?php echo $i; ?></option>
			<?php } ?>
		  </select>.
		  <select name="birthyear">
		  <option value="0">Jahr</option>
			<?php foreach ($r_birthyear as $i) { ?>
				<option value="<?php echo $i; ?>"<?php echo iif($user['birthyear'] == $i, ' selected="selected"'); ?>><?php echo $i; ?></option>
			<?php } ?>
			?>
		  </select>
		</div>
		<br class="newinput" />
	</fieldset>
	<fieldset>
		<legend>Passwort ändern (optional)</legend>
		<label for="pw1">Neues Passwort:</label>
		<input type="password" class="label" id="pw1" name="pw1" value="" />
		<br class="newinput" /><hr class="formsep" />
		<label for="pw2">Neues Passwort wiederholen:</label>
		<input type="password" class="label" id="pw2" name="pw2" value="" />
		<br class="newinput" />
	</fieldset>
	<input type="submit" />
</form>